.PieChart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  position: relative;
}

.PieChart canvas {
  width: 75% !important;
  max-width: 250px;
  min-width: 200px;
  height: auto !important;
  cursor: pointer;
}