#system-memeory-usage-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 1rem;
  font: inherit;
}

#no-tab-message {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.tab-list {
  padding-left: 15px;
  margin-left: auto;
}

.tab-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2%;
  margin-bottom: 3%;
  margin-left: auto;
}

.tab-list-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  min-width: 200px;
  column-gap: 2%;
  padding: 5px;
  border: 2px solid darkgray;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition: background-color .3s cubic-bezier(0.42, 0, 0.64, 0.42);
  background-color: rgba(255, 255, 255, 0);
}



.tab-list-content-unload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  min-width: 200px;
  column-gap: 2%;
  padding: 5px;
  border: 2px solid darkgray;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition: background-color .3s cubic-bezier(0.42, 0, 0.64, 0.42);
  background-color: rgba(0, 0, 0, 0.4);
}

.tab-list-content:hover,
.tab-list-content-unload:hover {
  border: 2px solid darkgray;
  background: rgba(255, 255, 255, 1);
}

.tab-list-content-text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-list-delete-button-container,
.tab-list-freeze-button-container {
  width: 40px;
}