.Column {
  /* height: auto;
  display: flex;
  flex-direction: column;  */
  background-color: gray !important;
  color: rgb(255, 255, 255) !important;
  /* margin-right: 12px; */
  /* padding: 12px; */
  border-radius: 3px;
  /*text-align: center;
  border: 2px solid lightcyan;
  width: 90%;
  margin: 1%;
  align-items: center; */

}
.Paper {
    height: min-content !important;
    margin-top: .5rem; 
}
