.board{
    display: flex;
    grid-auto-flow: column dense;
    column-gap: .5rem; 
    flex-direction: row; 
    align-items: flex-start;
    padding: 1%; 
    height: 100%;

    position:relative
}

.speedDial{
    position: absolute;
    left: 5vw;
    top: 80vh;
}