.tab-card-container[data-status="freeze"] {
    filter: brightness(0.6);
}

.tab-card-container[data-status="close"] {
    filter: brightness(0.2);
}

.TabCard {
    border-radius: 5px;
}

.TabCard[data-unsaved="true"] {
    width: fit-content;
    padding-right: 3vw;
}

.tab-card-content,
.tab-card-content-2 {
    display: flex;
    column-gap: 5%;
}

.tab-card-content[data-unsaved="true"] {
    white-space: nowrap;
}