.leftSidebar {
  position: relative;
  overflow: hidden;
}

.loginBlock {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userImage {
  border-radius: 50%;
  max-height: 30%;
  width: auto;
}

.userDisplayName {
  text-align: center;
  color: #c51230;
  font-weight: lighter;
  font-size: large;
  transition: border 0.5s;
  border-bottom: 4px solid rgba(200, 18, 48, 0);
}
