.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.leftSidebar {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

.rightSidebar {
  width: 100%;
  height: 100%;
}

.drawerFirst {
  position: relative;
  width: 4px;
  height: 100%;
  background: lightgrey;
  cursor: col-resize;
}

.handleFirst {
  position: absolute;
  background: gray;
  width: 2px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drawerSecond {
  position: relative;
  width: 4px;
  height: 100%;
  background: lightgrey;
  cursor: col-resize;
}

.handleSecond {
  position: absolute;
  background: gray;
  width: 2px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}